@import '../../styles/vars';

.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* min-height: 100vh; */
  padding: 20px;

  @media screen and (max-width: $breakpoint-tablet) {
    padding: 20px;
  }
}

.hero-section {
  text-align: center;
  margin-bottom: 50px;

  @media screen and (max-width: $breakpoint-tablet) {
    margin-bottom: 30px;
  }
}

.title {
  font-size: 40px;
  color: $color-primary;
  margin-bottom: 20px;

  @media screen and (max-width: $breakpoint-tablet) {
    font-size: 30px;
  }
}

.description {
  font-size: 20px;
  color: $color-text;

  @media screen and (max-width: $breakpoint-tablet) {
    font-size: 18px;
  }
}

.sign-in-button {
  background-color: $color-primary;
  color: $color-background;
  text-transform: uppercase;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 30px;
  letter-spacing: 5px;
  cursor: pointer;

  background-color: $color-primary;
  color: $color-background;
  text-transform: uppercase;
  border: none;
  margin-top: $spacing-unit * 2;
  padding: $spacing-unit * 2;
  font-size: $spacing-unit * 2;
  font-weight: 100;
  letter-spacing: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sign-in-button:hover{ 
  color: $color-primary; 
  background-color: #d9ecff; 
} 


.features-section {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;

  @media screen and (max-width: $breakpoint-tablet) {
    flex-direction: column;
  }
}

.feature {
  text-align: center;
  border: 1px solid $color-primary;
  border-radius: $spacing-unit * 2;
  box-shadow: $box-shadow;
  padding: $spacing-unit * 2;
  margin: $spacing-unit * 2;

  &-image {
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
    border-radius: $border-radius * 4;

    @media screen and (max-width: $breakpoint-tablet) {
      width: 200px;
      height: 200px;
    }
  }

  &-title {
    font-size: 24px;
    color: $color-primary;
    margin-bottom: 10px;

    @media screen and (max-width: $breakpoint-tablet) {
      font-size: 20px;
    }
  }

  &-description {
    font-size: 16px;
    color: $color-primary;

    @media screen and (max-width: $breakpoint-tablet) {
      font-size: 14px;
    }
  }
}

