@import '../../styles/vars';

.suppliers-container{
    padding: 20px;
    font-family: Arial, sans-serif;
    width: 100%;
}

  .header {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .create-button {
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
  }
  
  .supplier-list {
    background-color: #ffffff;
    padding: 10px;
  }
  
  .supplier-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .buttons {
    display: flex;
    &-remove {
      background-color: #f44336;
      color: #ffffff;
    }

    &-edit {
      background-color: #2196f3;
      color: #ffffff;
    }
  }
  
  .buttons button {
    margin-left: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  

  

