@import '../../styles/vars';

.login-reduction {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;

    &-modal {
        background-color: #fff; 
        width: 350px; 
        padding: $spacing-unit * 6; 
        border-radius: $border-radius; 
        box-shadow: $box-shadow; 
        text-align: center; 
    }

    .modal-onclose{
        color: $color-primary;
        background-color: #fff;
        font-size: 24px;
    }

}