@import '../../styles/vars';

.items_container{
    margin-left: 20px;
}

.items_list{
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-bottom: $spacing-unit;
    border: 1px solid $color-primary;
    border-radius: $border-radius;
    transition: background-color 0.3s ease;
    &:hover {
        background-color: $color-primary;
        color: white;
      }

    &_item{
        margin-right: $spacing-unit;
        padding: $spacing-unit;

    }

}
