@import '../../styles/vars';

.create-item {
  max-width: 500px;
  padding:$spacing-unit * 2;
  margin: $spacing-unit * 2;
  width: 100%;
  box-shadow: $box-shadow;
  border-radius: $border-radius * 2;

    &-title {
      font-size: 24px;
      color: $color-primary;
      text-align: center;
      margin-bottom: $spacing-unit;
    }
    
    .formulary {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding:  $spacing-unit * 3;

      &-tag{
        color: $font-color;
        line-height: 2;
        display: block;
        font-size: 14px;
        font-weight: 400;
      }

      &-input {
        display: block;
        width: 90%;
        border-radius: 4px;
        border: 1px solid $color-primary;
        padding: 10px 15px;
        margin-bottom: 10px;
        font-size: 14px;
      }

      &-error {
        color: #bf1650;
        margin-top: 0;
        font-size: 12px;
        align-items: center;
        ::before {
          display: inline;
        }
      }

      &-submit {
        background-color: $color-primary;
        color: white;
        text-transform: uppercase;
        border: none;
        margin-top: $spacing-unit;
        padding: 20px;
        font-size: 16px;
        font-weight: 100;
        letter-spacing: 10px;
      }
      
    }
  }