@import '../../styles/vars';

.layout {
    $breakpoint-large-desktop: 1200px;
    flex: 1;
    display: flex;
    flex-direction: column;
   &-content {
    display: flex;
    justify-content: space-between;

    &-container{
        margin: 0 auto;
        width: 100%;
        margin-top: 30px;
        background-color: #F0F0F0;
        margin: $spacing-unit ;
    }
   }
}
