@import '../../styles/vars';

.navbar{
    width: 225px;
    background-color: $color-background;
    padding: $spacing-unit;
/*     position: absolute;
    top: 0;
    left: 0;
    z-index: 2; */

    &-list{
        list-style: none;
        padding: 0;
        margin: 0;   
    }

    &-item{
        margin-bottom: 10px;
        &-btn{
            font-family: $font-family;
            font-size: $font-size-base;
            color: $font-color;
            /* background-color: $color-background; */
            border: none;
            border-radius: $border-radius;
            padding: $spacing-unit;
            cursor: pointer;
            transition: background-color 0.3s;
/*             &:hover {
                background-color: $color-highlight;
              } */
        }
    }

}