@import '../../styles/vars'; 
.navbar { 
    width: 300px; 
    padding: 50px 24px;
   
    &-list { 
      list-style: none; 
      padding: 0; 
      margin: 0; 
    } 
   
    &-item { 
      &-btn { 
        width: 90%; 
        font-family: $font-family; 
        background-color:  $color-primary;
        color: white;
        text-transform: uppercase;
        border-radius: $border-radius; 
        margin-top: $spacing-unit;
        padding: 15px;
        font-size: 15px;
        font-weight: 100;
        letter-spacing: 5px;
        cursor: pointer; 
        transition: background-color 0.3s; 
   
        &:hover { 
          color: $color-primary; 
          background-color: #d9ecff; 
        } 
      } 
    }
/*     @media (max-width: $breakpoint-mobile){
      display: none;
    } */
  }