@import '../../styles/vars';

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 auto;
    box-shadow:$box-shadow;

    &-header {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      &-labels {
        font-size: 12px;
        font-weight: bold;
      }
    }

    &-image {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 50%;
      margin-right: 10px;
    }

    &-item-code {
      font-size: 12px;
    }

    &-body {
      margin-bottom: 10px;
      flex-direction: column;
      display: flex;
    }

    &-small-text {
      font-size: 12px;
    }

    &-title {
      font-size: 18px;
      margin-bottom: 5px;
    }

    &-description {
      font-size: 14px;
      margin-bottom: 10px;
    }

    &-info {
      display: flex;
      flex-direction: column;
      font-size: 12px;
      margin-bottom: 10px;
    }

    &-price,&-state, &-created-by {
      margin-bottom: 5px;
    }

    &-state {
      background-color: lightgreen;
      width: 35px;
      border-radius: 8px;
      padding: 4px;
      height: 15px;
    }

    &-buttons {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 16px;
    }
  }
  
  .edit-button,
  .back-button, .deactivate-button {
    padding: 5px 10px;
    background-color: #ccc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .edit-button {
    background-color: #2196f3;
  }
  .deactivate-button {
    background-color: #f44336;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  
