@import '../../styles/vars';

.PDP-container {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 auto;
  box-shadow: $box-shadow;
}

.card {
    &-header {
      display: flex;
      justify-content: space-between;
      /* padding: $spacing-unit; */

      &-labels {
        font-size: 12px;
        font-weight: bold;
        color: $color-primary;
        font-size: 14px;
      }
    }

    &-image {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 50%;
      margin-right: 10px;
    }

    &-item-code {
      font-size: 14px;
    }

    &-body {
      margin-bottom: 10px;
      flex-direction: column;
      display: flex;
    }

    &-small-text {
      font-size: 12px;
    }

    &-title {
      text-align: center;
      font-size: 18px;
      margin-bottom: 5px;
      border-bottom: 1px solid #ccc;
      padding-bottom: $spacing-unit * 2;
    }

    &-description {
      font-size: 14px;
      margin-bottom: 10px;
    }

    &-info {
      display: flex;
      flex-direction: column;
      font-size: 12px;
      margin-bottom: 10px;
    }

    &-price,&-state, &-created-by {
      margin-bottom: 5px;
    }

    &-state {
      background-color: lightgreen;
      width: 35px;
      border-radius: 8px;
      padding: 4px;
      height: 15px;
    }

    &-buttons {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 70px;
    }
  }
  
  .card-elections{
    &-select {
      font-weight: normal;
      letter-spacing: 1px;
      padding: 10px 20px;
      color: $color-primary;
      border: 1px solid $color-primary;
      border-radius: 5px;
    }
  }
  .edit-button,
  .back-button, .deactivate-button {
    padding: 5px 10px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 1px;
    padding: 10px 20px;
    text-transform: uppercase;
  }
  .edit-button {
    background-color: #007BFF;
  }
  .deactivate-button {
    background-color:  #DC3545;
  }
  .addReduction-button{
    border: 1px solid $color-primary;
    position: absolute;
    bottom: 295px;
    /* left: 284px; */
    padding: 10px 20px;
    letter-spacing: 1px;
    color:$color-primary;
    border-radius: 5px;
    background-color:  #fff;
  }
  
  @keyframes card-animation {
    0% { transform: scale(0); }
    100% { transform: scale(1); }
  }
  
  .PDP-container {
    animation: card-animation 1s ease-out;
  }
